<div id="tool-buttons">
  Tools: 
  <a href="javascript:void(0)" class="tool-button selected" id="tools-buttons-select" data-toolid="0" title="select [1]"></a>
  <a href="javascript:void(0)" class="tool-button" id="tools-buttons-background" data-toolid="1" title="background [2]"></a>
  <a href="javascript:void(0)" class="tool-button" id="tools-buttons-midground" data-toolid="2" title="midground [3]"></a>
  <a href="javascript:void(0)" class="tool-button" id="tools-buttons-foreground" data-toolid="3" title="foreground [4]"></a>
  <a href="javascript:void(0)" class="tool-button" id="tools-buttons-overlay" data-toolid="4" title="overlay [5]"></a>
  <a href="javascript:void(0)" class="tool-button" id="tools-buttons-collision" data-toolid="5" title="collision [6]"></a>
  <a href="javascript:void(0)" class="tool-button" id="tools-buttons-object" data-toolid="6" title="object [7]"></a>
</div>
<script>
  $('.tool-button').click(function() {
    if ($(this).hasClass('selected'))
      return;
    
    $('.tool-button.selected').removeClass('selected');
    $(this).addClass('selected');

    var tool = parseInt($(this).attr('data-toolid'));

    if (tool == 5) {
      $('.normal-blocks').addClass('hide');
      $('.collision-blocks').removeClass('hide');
    }
    else {
      $('.normal-blocks').removeClass('hide');
      $('.collision-blocks').addClass('hide');
    }

    Crafty('Editor').trigger('ToolChanged', tool);
  });
</script>
<div class="normal-blocks">
  <select id="tileset-select" width="100"></select>
</div>
<div id="normal-blocks" class="tile-grid normal-blocks"></div>
<div class="collision-blocks hide">
  <select id="collision-tileset-select" width="100"></select>
</div>
<div id="collision-blocks" class="tile-grid collision-blocks hide"></div>
<script>
  // Populate options
  for (var i = 0; i < tilesets.length; ++i)
    $('<option/>', {value: i, text: tilesets[i]}).appendTo('#tileset-select');
  for (var i = 0; i < collision_tilesets.length; ++i)
    $('<option/>', {value: i, text: collision_tilesets[i]}).appendTo('#collision-tileset-select');

  // Select a tileset
  function selectTileset(index, type, cb) {
    $('.block-select-'+type).remove();

    var name = (type == 'collision' ? collision_tilesets : tilesets)[index];

    var url = 'sprites/tilesets/' + name + '.png';

    var img = new Image();

    img.onload = function() {
      var width = this.width;
      var height = this.height;
      for (var y = 0; y < height; y += 32) {
        for (var x = 0; x < width; x += 32) {
          var parentElement = '#' + type + '-blocks';
          $('<a/>', { class: 'block-select-'+type+' block-select'
                    , href: 'javascript:void("0")'
                    , style: 'background-position-x: -' + x + 'px;background-position-y: -' + y + 'px;' +
                             "background-image: url('" + url + "')"
                    , 'data-idx': (y/32) * 8 + (x/32)
                    }).appendTo(parentElement);
        }
      }

      // Block selection
      $('.block-select-' + type).click(function(e) {
        $('#selected-block-' + type).removeClass('selected-block');
        $('#selected-block-' + type).removeAttr('id');
        $(e.target).addClass('selected-block');
        $(e.target).attr('id', 'selected-block-' + type);
      });

      // Callback
      if (cb)
        cb();
    }

    img.src = url;
  }

  // Select a tileset when the option changes
  $('#tileset-select').change(function() {
    selectTileset(this.selectedIndex, "normal");
  });

  // Select an option initially
  var options = $('#tileset-select')[0];
  options.selectedIndex = 8;
  selectTileset(8, "normal");

  options = $('#collision-tileset-select')[0];
  options.selectedIndex = 0;
  selectTileset(0, "collision");
</script>
