<div id="ss-chars"></div>
<script>
  for (var i = 0; i < charsets.length; ++i) {
    var charid = i;
    $('<a/>', { href: "javascript:void(0)"
              , class: "character-selector"
              , style: "background-image: url('sprites/characters/" + charsets[i] + ".png')"
              , 'data-charset': i
              })
    .appendTo('#ss-chars');
  }

  $('.character-selector').click(function() {
    var charset = $(this).attr('data-charset');
    socket.emit('select_charset', { id: charset});
  });
</script>
