* {
  font-family: 'Noto Serif', serif;
}

body {
  margin: 0;
}

#ui {
  width: 100%;
  height: 100%;
}

/* lock */
#lock {
  display: none;
  position: absolute;
  width: 96px;
  height: 96px;
  background-size: 96px 96px;
  z-index: 100;
  top: 25px;
  left: 25px;
}

#lock:hover {
  opacity: 1.0;
}

.unlocked {
  background-image: url('ui/padlock-unlocked.png');
  opacity: 0.5;
}

.unlocked:hover {
  width: 100px !important;
  height: 100px !important;
  background-size: 100px 100px !important;
}

.locked {
  background-image: url('ui/padlock-locked.png');
  opacity: 0.8;
}

#locked_name {
  display: none;
  position: absolute;
  top: 0;
  z-index: 101;
  padding: 0.2em;
  background: white;
  border: 1px solid black;
  pointer-events: none;
}

/* tools */

#tools {
  position: absolute;
  width: 285px;
  right: 5px;
  top: 5px;
  margin: 0;
  z-index: 100;
  opacity: 0.95;
  /* ui should be hidden by default */
  display: none;
}

.tools {
  background: white;
  height: 450px;
  min-height: 150px;
}

.tool-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-color: #DDE;
  border: solid 1px #778;
}

.tool-button:hover {
  background-color: #AAE !important;
  border-color: #227 !important;
}

.tool-button.selected {
  background-color: #FFF !important;
}

#tools-buttons-select {
  background-image: url('ui/icons/select.png');
}

#tools-buttons-background {
  background-image: url('ui/icons/background.png');
}

#tools-buttons-midground {
  background-image: url('ui/icons/midground.png');
}

#tools-buttons-foreground {
  background-image: url('ui/icons/foreground.png');
}

#tools-buttons-overlay {
  background-image: url('ui/icons/overlay.png');
}

#tools-buttons-collision {
  background-image: url('ui/icons/collision.png');
}

#tools-buttons-object {
  background-image: url('ui/icons/object.png');
}

/* char select */

#ss-chars {
  overflow-y: scroll;
  flex: 1;
}

.character-selector {
  display: inline-block;
  width: 32px;
  height: 48px;
  animation: charsprite_walk 0.8s steps(4) infinite, charsprite_direction 5.6s steps(1, end) infinite;
}

.character-selector:hover {
  background-color: #CCC;
  filter: brightness(70%);
}

@keyframes charsprite_walk {
  100% { background-position-x: -128px; }
}

@keyframes charsprite_direction {
  0%   { background-position-y: 0px; }
  25%  { background-position-y: -96px; }
  50%  { background-position-y: -144px; }
  75%  { background-position-y: -48px; }
  100% { background-position-y: -192px; }
}

/* block select */

.tools:not(.tabbertabhide) {
  display: flex;
  flex-direction: column;
}

#block-select input, #block-select option {
  margin-bottom: 1em;
}

.block-select {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
}

.resize-vert {
  margin-top: 0.25em;
  text-align: center;
}

.resize-vert:hover {
  background: #EEE;
}

.selected-block {
  background-color: #CCC;
  filter: brightness(50%);
}

.block-select:hover {
  background-color: #CCC;
  filter: brightness(70%);
}

#tileset-select {
  margin-bottom: 1em;
}

.tile-grid {
  line-height: 0;
  overflow-y: scroll;
  flex: 1;
}

.hide { 
  display: none;
}

/* chat box */

#chat {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 100;
  /* chat should be hidden by default */
  display: none;
}

#m {
  width: 390px;
  border: 0;
  outline-width: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.85;
}

#chatlog {
  width: 400px;
  height: 146px;
  padding: 0;
  border: 0;
  position: relative;
  overflow-x: auto;
  overflow-y: scroll;
}

#chat #feedback {
  display: block;
  background: white;
  opacity: 0.75;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding-left: 0.5em;
}

#chatlog div {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100%;
}

#chatlog div p {
  margin: 0;
  padding: 5px;
  overflow-wrap: break-word;
  text-indent: -15px;
  margin-left: 20px;
  word-break: break-all;
  color: white;
}

#chatlog div p li {
  list-style: none;
}

#chatlogbg {
  width: 381px;
  height: 150px;
  position: absolute;
  bottom: 23px;
  left: 5px;
  z-index: 99;
  background: #000;
  opacity: 0.55;
  /* chat should be hidden by default */
  display: none;
}

/* login box */

#logincontainer {
  display: flex;
  height: 100%;
}

#login {
  margin: auto auto;
  background: url('ignasi_pattern_s.png');
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
  z-index: 100;
  text-align: center;
  padding: 2em;
}

#login h2 {
  margin-top: 0;
}

#login table {
  margin: 0 auto;
}

#login td {
  vertical-align: middle;
}

#login input {
  width: 10em;
}

